/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}


/* UTILITIES */
.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.wrapper {
  max-width: 100%;
  margin: 20px;
}

.float {
  float: left;
  padding: 0 16px;
}

.float-right {
  float: right;
  padding: 0 16px;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-45 {
  width: 45%
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.relative {
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* HEADER */
.main-header {
  background: lightblue;
}

.navbar {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 80px;
}

.img-logo {
  margin-top: 5px;
}

.menu-nav {
  padding: 0;
  text-align: right;
  font-size: 80%;
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav li a {
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.menu-nav li:nth-last-child(2) a{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.hamburger {
  display: none;
}

/* JUMBOTRON */
#jumbotron {
  height: 550px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

#jumbotron h1 {
  font-weight: 600;
  font-size: 48px;
}

#jumbotron h3 {
  font-weight: 400;
  padding: 25px 0 18px;
  font-size: 16px;
}


/* PRODOTTI */
#products {
  margin-top: 50px;
  margin-bottom: 50px;
}
#products .box {
  padding: 75px 75px 35px;
  text-align: center;
  background: #fafafa;
}

#products .box .cta {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: blue;
}

#products .box a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}
#products .box h2,
#products .box h4 {
  font-weight: 400;
}

#products .box h2 {
  margin-bottom: 21px;
  font-size: 38px;
}
#products .box h4 {
  margin-bottom: 24px;
  font-size: 18px;
}

#products .box img {
  max-width: 100%;
  width: 230px;
  margin-top: 21px;
}

/* HOW WORKS */
.how-works-bg {
  height: 400px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: center;
}

#how-works img {
  max-width: 100%;
}

#how-works .contents {
  padding-bottom: 60px;
}

#how-works .col-sx,
#how-works .col-dx {
  padding-top: 120px;
}

#how-works .col-sx {
  text-align: right;
}

#how-works .col-sx h3 {
  font-weight: 600;
  font-size: 30px;
  width: 190px;
  display: inline-block;
  text-align: left;
}

#how-works .img-phone {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
}

/* Smart mobility */
#smart-mobility {
  padding: 20px 50px;
}

#smart-mobility .col-1 {
  height: 500px;
  background-image: url('../img/scooter-bg.jpg');
  background-size: cover;
  background-position: right;
  text-align: center;
  color: #fff;
  /* margin: 20px 50px; */
}

#smart-mobility .col-1 h2,
#smart-mobility .col-1 h3 {
  width: 300px;
  font-weight: 600;
  text-align: center;
  margin: 10% auto;
}

#smart-mobility .col-1 h2 {
  font-size: 40px;
}

#smart-mobility .col-1 h3 {
  font-size: 20px;
}

#smart-mobility .col-1 a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

#smart-mobility .col-1 a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}

#smart-mobility .col-2,
#smart-mobility .col-3 {
  height: 500px;
  text-align: center;
  padding-right: 20px;
}

#smart-mobility .col-2 {
  background: #3f5468;
  overflow: hidden;
}

#smart-mobility .col-3 {
  background-image: url('../img/cities.jpg');
  background-size: cover;
  background-position: center;
}

#smart-mobility .col-3 {
  margin-left: 10%;
}

#smart-mobility .col-2 h2,
#smart-mobility .col-2 h3,
#smart-mobility .col-3 h2,
#smart-mobility .col-3 h3 {
  font-weight: 600;
  color: #fff;
  margin: 20px;
}

#smart-mobility .col-2 h2,
#smart-mobility .col-3 h2 {
  font-size: 30px;
}

#smart-mobility .col-2 a,
#smart-mobility .col-3 a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

#smart-mobility .col-2 a::after,
#smart-mobility .col-3 a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}

#smart-mobility .col-2 img {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
  max-width: 100%;

}

/* Responsive */

@media all and (max-width: 420px) {

  /* Header */
  .navbar-col-right {
    float: right;
    text-align: right;
  }

  .menu-nav {
    display: none;
  }

  .hamburger {
    display: inline-block;
    font-size: 30px;
  }

  .hamburger a {
    text-decoration: none;
    color: #000;
  }

  /* Jumbotron */
  #jumbotron h1 {
    font-weight: 600;
    font-size: 30px;
  }

  #jumbotron h3 {
    font-weight: 400;
    font-size: 12px;
  }

  #jumbotron img {
    display: block;
    width: 100px;
    max-width: 100%;
    margin: 20px auto;
  }

  /* Products section*/
  #products .float {
    margin: 0 auto;
    float: none;
  }

  #products .box {
    width: 100%;
    padding: 0;
  }

  #products .box {
    border-bottom: 1px solid #000;
  }

  /* How works section */
  .how-works-bg {
    background-position: 5% 0%;
  }

  .img-phone {
    display: none;
  }

  #how-works .col-sx,
  #how-works .col-dx {
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }

  #how-works .col-sx h3 {
    text-align: center;
    width: 100%;
  }

  /* Smart mobility */
  #smart-mobility {
    width: 100%;
    padding: 20px 0;
  }

  #smart-mobility .wrapper {
    margin: 20px 0;
  }

  #smart-mobility .wrapper .col-1 {
    width: 100%;
    max-width: 100%;
    background: #2a350d;
    text-align: center;
  }

  #smart-mobility .wrapper .col-1 .float-right {
    width: 100%;
    float: none;
    text-align: center;
  }

  #smart-mobility .wrapper .col-2 {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  #smart-mobility .wrapper .col-2 img {
    display: none;
  }

  #smart-mobility .wrapper .col-3 {
    width: 100%;
    height: auto;
    background: #9c5657;
    padding-bottom: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
